.wrap{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
}
.container-fluid{
    background: #98ac55;
    flex: 1 1 auto;
}
.row{
    height: 40%;
    width: 100%;
}
.box{
    width: 60%;
    height: 90%;
    border-radius: 10%;
    border: 1px black solid;
}
@media only screen and (max-width: 768px){
    .row-top{
        margin-top: 17.5%;
    }
    .box{
        width: 90%;
        height: 60%;
    }
}